<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"></meta>
    <title>Корзина товаров</title>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/main/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="item : ${order.getItems()}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="300" height="300" th:src="@{'data:image/jpeg;base64,'+${item.getImg()}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.getPrice()}+' руб.'"></b>
                    </td>
                </tr>
                <tr><td th:text="${item.getDescription()}"></td></tr>
                <tr>
                    <td>
                        <form th:attr="data-item-id=${item.getId()}" id="item-form" onsubmit="return false;">
                            <button type="button" onclick="updateItem(this, 'MINUS')">-</button>
                            <span th:text="${item.getCount()}"></span>
                            <button type="button" onclick="updateItem(this, 'PLUS')">+</button>
                            <button type="button" onclick="updateItem(this, 'DELETE')" style="float:right;">&cross;</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: '+${order.getTotalSum()}+' руб.'"></b>
            <b th:text="'Баланс: '+${balance}+' руб.'"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <form action="/buy" method="post" th:if="${order.getTotalSum() <= balance}">
                <button>Купить</button>
            </form>
            <span th:if="${balance <= order.getTotalSum() and paymentServiceAvailable}" style="color: red;">
                Недостаточно средств
            </span>
            <span th:if="${!paymentServiceAvailable}" style="color: red;">
                Сервис платежей временно недоступен
            </span>
        </td>
    </tr>
</table>

<script>
    document.getElementById('add-item-btn').addEventListener('click', function() {
        document.getElementById('add-item-form').style.display = 'block';
    });

    function updateItem(buttonElement, action) {
    const form = buttonElement.closest('form');
    const itemId = form.getAttribute('data-item-id');

    fetch(`/cart/items/${itemId}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ action: action })
    })
    .then(response => {
        if (response.redirected) {
            window.location.href = response.url; // если сервер вернул redirect
        } else if (response.ok) {
            window.location.reload(); // обновить страницу после успешного изменения
        } else {
            console.error('Ошибка:', response.status);
        }
    })
    .catch(error => console.error('Ошибка сети:', error));
}
</script>

</body>

</html>